<section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-8 col-xl-7 order-2 order-lg-1">
                <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Allocate Classroom to a Teacher
                </p>
                <form
                  id="allocateSubjectsForm"
                  form
                  [formGroup]="allocateForm"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="mb-4">
                    <app-custom-select
                      [options]="allocateForm.get('teachers')?.controls"
                      (selectedOption)="onTeacherSelect($event)"
                      [defaultName]="'teacher'"
                    ></app-custom-select>
                  </div>

                  <div class="mb-4">
                    <app-custom-select
                      [options]="allocateForm.get('classes')?.controls"
                      (selectedOption)="onClassSelect($event)"
                      [defaultName]="'class'"
                    ></app-custom-select>
                  </div>

                  <!-- Add Subject Button -->
                  <div class="mt-4 pt-2">
                    <div
                      class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 mt-3"
                    >
                      <button
                        type="submit"
                        class="btn btn-primary btn-lg btn-grad"
                      >
                        Allocate Teacher
                      </button>
                    </div>
                  </div>

                  <div class="mb-4">
                    <h5>Allocated Teacher:</h5>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Teacher</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody id="allocatedClassroomTable">
                        <ng-container
                          *ngFor="
                            let control of allocateForm.get('allocated')
                              ?.controls;
                            let i = index
                          "
                        >
                          <tr>
                            <td>{{ control.value.name }}</td>
                            <td>
                              <div
                                class="d-flex justify-content-center mx-0 mb-0 mb-lg-0 mt-0"
                              >
                                <button
                                  class="btn btn-primary btn-sm"
                                  type="button"
                                  (click)="
                                    deallocateClassroom(control.value.id)
                                  "
                                >
                                  DeAllocate
                                </button>
                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
              <div
                class="col-md-12 col-lg-4 col-xl-5 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="assets/allocateclass.svg"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
