.input-group-prepend.align-items-center {
    display: flex;
    align-items: center;
    height: 40px; /* Adjust the height as needed */
  }
  
  .input-group-prepend .input-group-text {
    height: 100%; /* Set the height of the icon to match the parent container */
  }
  
  .form-control {
    height: 100%; /* Set the height of the input to match the parent container */
  }
  .row{
    margin-top: 20px;

  }
.vh-100{
    top: -3vh;
    position: relative;
}
         
.btn-grad {
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
